# =========================
# Node / PNPM
# =========================
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# =========================
# Env / Secrets
# =========================
.env

# =========================
# Build & Output
# =========================
dist/
build/
coverage/
.tmp/
.cache/

# =========================
# Logs
# =========================
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# =========================
# Drizzle
# =========================
drizzle/meta/
*.db

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# =========================
# Archives
# =========================
*.tgz
